/*RESET BASIC STYLES*/
* {
    margin:0;
    padding:0;
    font-size: 12px;
} 

/*animations CSS*/
@keyframes onload_entranceleft { /*Fade in from left*/
    0% {
        opacity: 0;
        margin-left: -300px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}
@keyframes onload_entranceright { /*Fade in from right*/
    0% {
        opacity: 0;
        margin-left: 300px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

#margin {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: #2a3242;
}

.hero header {
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    margin: auto;
}

.hero {
    height: 100vh;
}
.buttons {
    height: 100vh;
    background-color: white;
}

nav {
    width: 100%;
    position: fixed;
    background-color: #2a3242;
    padding-bottom: 10px;
}

h1 {
   font-size: 16px;
   font-family: 'ZCOOL XiaoWei', serif;
   margin: 10px 0 0 20px;
   color: #ff8340;
   float: left;
}
h3 {
   font-size: 16px; 
   font-family: 'ZCOOL XiaoWei', serif;
   margin: 10px 20px 0 0px;
   color: #ff8340;
   float: right;
    
}

.hero h2 {
   font-size: 36px; 
   font-family: 'ZCOOL XiaoWei', serif;
   margin-bottom: 20px;
   color: #ff8340;
   animation-name: onload_entranceleft;
   animation-duration: 1s;
   
}


.hero p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    animation-name: onload_entranceright;
    animation-duration: 1s;
}



