/*RESET BASIC STYLES*/
* {
    margin:0;
    padding:0;
    font-size: 12px;
} 


/*animations CSS*/
@keyframes onload_entranceleft { /*Fade in from left*/
    0% {
        opacity: 0;
        margin-left: -100px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}
@keyframes onload_entranceright { /*Fade in from right*/
    0% {
        opacity: 0;
        margin-left: 100px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}


#margin {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: #2a3242;
}

.hero header {
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    margin: auto;
}

.hero {
    height: 100vh;
    background: #4568dc; 
    background: -webkit-linear-gradient(to right, #4568dc, #b06ab3); 
    background: linear-gradient(to right top, #4568dc, #b06ab3);
}
.one {
    height: 100vh;
    background-color: white;
}
.two {
    height: 100vh;
    background-color: yellow;
}
.three {
    height: 100vh;
    background-color: white;
}
nav {
    width: 100%;
    position: fixed;
    background-color: #2a3242;
    padding-bottom: 10px;
    z-index: 1;
}
ul {
    clear: both;
}
li {
    display: inline-block;
    width: 24.5%;
    text-align: center;
    margin-top: 15px;
}
nav ul li a  {
    font-family: 'ZCOOL XiaoWei', serif;
    color: #ff8340;
    text-decoration: none;
    font-size: 14px;
}

h1 {
   font-size: 16px;
   font-family: 'ZCOOL XiaoWei', serif;
   margin: 10px 0 0 20px;
   color: #ff8340;
   float: left;
}
h3 {
   font-size: 16px; 
   font-family: 'ZCOOL XiaoWei', serif;
   margin: 10px 20px 0 0px;
   color: #ff8340;
   float: right;
    
}

.hero h2 {
   font-size: 36px; 
   font-family: 'ZCOOL XiaoWei', serif;
   margin-bottom: 20px;
   color: #2a3242;
   animation: onload_entranceleft ease-in-out 1s;
   
}


.hero p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    animation: onload_entranceright ease-in-out 1s;
}



